<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                {% for slid in slider %}
                <!-- banner -->
                <div class="banner banner-1">
                    <a href="{{ path('product_detail',{'id':slid.id}) }}">
                    <!--<img style="width:100%" src="{{ asset('uploads/') }}/images/{{ slid.image }}" alt="">-->
                    <a href="#" class="top-image-left" style="background-image:url({{ asset('uploads/') }}/images/{{ slid.image }});"></a>
                    </a>
                    <div class="banner-caption text-center">
                        <h1>{{ slid.title }}</h1>
                        <h3 class="white-color font-weak">%50 indirimle</h3>
                        <a href="{{ path("product_detail", {'id': slid.id} ) }}" class="primary-btn">Satın Al</a>
                    </div>
                </div>
                <!-- /banner -->
                {% endfor %}


            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="{{ path("category_products", {'catid': 18} ) }}">
                    <img src="{{ asset('front/') }}./img/mustang.png" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Otomobil</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="{{ path("category_products", {'catid': 14} ) }}">
                    <img src="{{ asset('front/') }}./img/banner11.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Moda</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

            <!-- banner -->
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                <a class="banner banner-1" href="{{ path("category_products", {'catid': 9} ) }}">
                    <img src="{{ asset('front/') }}./img/as.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Ofis Bilgisayarı</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section-title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Deals Of The Day</h2>
                    <div class="pull-right">
                        <div class="product-slick-dots-1 custom-dots"></div>
                    </div>
                </div>
            </div>
            <!-- /section-title -->

            <!-- banner -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="banner banner-2">
                    <img src="{{ asset('front/') }}./img/banner14.jpg" alt="">
                    <div class="banner-caption">
                        <h2 class="white-color">Yeni<br>Koleksiyon</h2>
                        <a href="{{ path("category_products", {'catid': 12} ) }}" class="primary-btn">Şimdi Alışveriş Yap</a>
                    </div>
                </div>
            </div>
            <!-- /banner -->

            <!-- Product Slick -->
            <div class="col-md-9 col-sm-6 col-xs-6">
                <div class="row">
                    <div id="product-slick-1" class="product-slick">
                        {% for slid in slider %}
                        <!-- Product Single -->
                        <div class="product product-single">
                            <div class="product-thumb">

                                <a href="{{ path("product_detail", {'id': slid.id} ) }}" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
                                <img src="{{ asset('uploads/') }}/images/{{ slid.image }}" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">{{ slid.sprice }}₺</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">{{ slid.title }}</a></h2>

                            </div>
                        </div>
                        <!-- /Product Single -->
                        {% endfor %}

                        <!--
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                    <li><span>00 H</span></li>
                                    <li><span>00 M</span></li>
                                    <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="{{ asset('front/') }}./img/product07.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span>New</span>
                                    <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                    <li><span>00 H</span></li>
                                    <li><span>00 M</span></li>
                                    <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="{{ asset('front/') }}./img/product06.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>


                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span>New</span>
                                    <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                    <li><span>00 H</span></li>
                                    <li><span>00 M</span></li>
                                    <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="{{ asset('front/') }}./img/product08.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>
                       -->
                    </div>
                </div>
            </div>
            <!-- /Product Slick -->
        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- banner -->
            <div class="col-md-8">
                <div class="banner banner-1">
                    <img src="{{ asset('front/') }}./img/banner13.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h1 class="primary-color">Indirimli fiyatlar<br><span class="white-color font-weak">Yeni sezon mobilyalar</span></h1>
                        <a href="{{ path("category_products", {'catid': 16} ) }}" class="primary-btn">Şimdi Bak</a>
                    </div>
                </div>
            </div>
            <!-- /banner -->

            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="{{ path("category_products", {'catid': 15} ) }}">
                    <img src="{{ asset('front/') }}./img/banner11.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Erkek Modası</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="{{ path("category_products", {'catid': 14} ) }}">
                    <img src="{{ asset('front/') }}./img/banner12.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Kadın Modası</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->

<!-- /section -->